/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0rem 10rem;
    font-family: 'Poppins', sans-serif;
}
.title, .generated {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    color: rgb(37, 37, 37);
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
form input {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    width: 50%;
    background: black;
    color: white;
    border: none;
}
form button {
    font-size: 1rem;
    background: rgb(41, 64, 121);
    border: none;
    color: white;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
.generated img {
    width: 480px;
    height: auto;
} */
.error {
  color: red;
  margin-bottom: 5px;
  text-align: center;
}

a {
  text-decoration: none;
}